<?xml version="1.0" encoding="utf-8"?>
<Context xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Doktorlar>
    <Doktor>
      <Ad>Celil</Ad>
      <Soyad>Karahasanoğlu</Soyad>
      <TCKN>81323909395</TCKN>
      <Telefon>5394084969</Telefon>
      <DogumTarihi>1994-10-13T11:12:57</DogumTarihi>
      <Cinsiyet>Erkek</Cinsiyet>
      <Brans>FizikTedavi</Brans>
      <BagliHemsireler />
      <Maas>3000</Maas>
    </Doktor>
    <Doktor>
      <Ad>Selahattin Erk</Ad>
      <Soyad>Karahasanoğlu</Soyad>
      <TCKN>37368717254</TCKN>
      <Telefon>5435123243</Telefon>
      <DogumTarihi>1996-08-28T11:12:57</DogumTarihi>
      <Cinsiyet>Erkek</Cinsiyet>
      <Brans>Ortopedi</Brans>
      <BagliHemsireler />
      <Maas>3000</Maas>
    </Doktor>
    <Doktor>
      <Ad>Melih</Ad>
      <Soyad>Karahasanoğlu</Soyad>
      <TCKN>98570498709</TCKN>
      <Telefon>5435123243</Telefon>
      <DogumTarihi>1996-08-28T11:12:57</DogumTarihi>
      <Cinsiyet>Erkek</Cinsiyet>
      <Brans>Ortopedi</Brans>
      <BagliHemsireler />
      <Maas>3000</Maas>
    </Doktor>
  </Doktorlar>
  <Hemsireler>
    <Hemsire>
      <Ad>Nazlı</Ad>
      <Soyad>Coşkun</Soyad>
      <TCKN>53617844453</TCKN>
      <Telefon>5675434312</Telefon>
      <DogumTarihi>1997-02-12T11:13:58</DogumTarihi>
      <Cinsiyet>Kadın</Cinsiyet>
      <Brans>GenelCerrahi</Brans>
      <Maas>1404</Maas>
    </Hemsire>
    <Hemsire>
      <Ad>Bora</Ad>
      <Soyad>Gürpınar</Soyad>
      <TCKN>70985404801</TCKN>
      <Telefon>3214312121</Telefon>
      <DogumTarihi>1985-06-02T12:02:47</DogumTarihi>
      <Cinsiyet>Erkek</Cinsiyet>
      <Brans>FizikTedavi</Brans>
      <Maas>1404</Maas>
    </Hemsire>
  </Hemsireler>
  <Hastalar>
    <Hasta>
      <Ad>Samet</Ad>
      <Soyad>Metin</Soyad>
      <TCKN>79690574378</TCKN>
      <Telefon>3213213211</Telefon>
      <DogumTarihi>1859-06-02T11:15:04</DogumTarihi>
      <Cinsiyet>Erkek</Cinsiyet>
    </Hasta>
  </Hastalar>
  <Personeller>
    <Personel>
      <Ad>Mahmun</Ad>
      <Soyad>Ünlü</Soyad>
      <TCKN>72126906400</TCKN>
      <Telefon>1234321221</Telefon>
      <DogumTarihi>1888-06-02T11:14:38</DogumTarihi>
      <Cinsiyet>Erkek</Cinsiyet>
      <PersonelBrans>Temizlikci</PersonelBrans>
      <Maas>1404</Maas>
    </Personel>
  </Personeller>
</Context>